<h1>Stuffs</h1>

<%= form_tag stuffs_path, :method => 'get' do %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search" %>
<% end %>

<%= link_to "Advanced Search", new_search_path %>