<% if logged_in? %>
<li><font color="white"><%= @current_user.name %></font></li>
<li><%= link_to 'Logout', logout_path, method:
:delete%></li>
<% else %>
<li><%= link_to 'Login', login_path %></li>
<li><%= link_to 'Sign up', signup_path %></li>
<% end %>